.ContenedorBotonMenu{
    margin-top: 10%; 
    width: 20%;
    height: 29%;
    border-radius: 8%;
    position: fixed;
}
.IconoMenu{
  margin-top: -20%;
  width: 48%;
  height: 65%;
  border-radius: 100%;
  overflow: hidden;
  border: var(--bg-color-black) 5px solid;
  margin-left: 25%;
  background-color: var(--bg-color-white);
}
.IconoMenu img{
    width: 100%;
  height: 100%;
  object-fit: cover;
}
.TituloMenuBotones h4{
    padding: 7%;
    font-size: 180%;
    text-align: center;
    color: var(--bg-color-white);
}