div.containergraphic{
    display: flex;
    width:90%;
    padding: 2%;
    justify-content: space-between;
}
div.graphic{
    width: 75%;
    align-items: center;
    justify-content: center;
}
div.Calender{
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 20%;
    padding: 2%;
}

Button.btnBarras,
Button.btnEscala {
    width: 45%;
    height: 9%;
    margin-bottom: 10%;
    border: var(--bg-color-white) 1.5px solid;
}

/* Estilo para un botón de Bootstrap activado */
.btnBarras.activo, .btnEscala.activo1 {
    background-color: var(--animation-bg-fondo);
    color:var(--bg-color-black);
    border-color: var(--bg-color-white);
    width: 45%;
    height: 9%;
    margin-bottom: 10%;
    border: var(--bg-color-white) 1.5px solid;
  }
  
  /* Estilo para un botón de Bootstrap cuando se pasa el mouse sobre él */
  .btnBarras.activo:hover, .btnEscala.activo1:hover {
    background-color: var(--animation-bg-fondo);
    color:var(--bg-color-black);
  }
  

.indication{
    color: var(--bg-color-white);
}
.inputCalender{
    background-color: rgb(37, 37, 37);
    color: var(--bg-color-white);
    font-size: 130%;
    width: 90%;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 10%;
    outline: none;
    box-shadow: 0px 0px 24px 0px rgba(101,101,101,0.75);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(101,101,101,0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(101,101,101,0.75);
}
.lbDia{
    font-size: 180%;
    font-weight: 700;
    color:var(--bg-color-white);
    margin-bottom: 5%;
}

Button.bt{
    border: var(--bg-color-white) 1.5px solid;
    margin-top: 9%;
}
@media(hover:hover){
    Button.bt:hover, Button.btbarras:hover, Button.btnEscala:hover, Button.btnBarras:hover{
        background-color: var(--animation-bg-fondo);
        color: black;
    }
}