.botonPagado{
   background-color: var(--bg-color-red);
   border-radius: 7px;
   width: 60%;
   color: white;
   font-weight: bold;
}

.botonInformacion, .botonEditarUsuario, .botonEliminarUsuario{
   background-color: transparent;
   border: white;
   color: rgb(0, 0, 159);
   text-decoration: underline;
   text-align: center;
   justify-content: center;
   align-items: center;
   align-tracks: center;
}

.Tabla{
   margin-left: 12%;
   width: 77%;
   margin-top: 1%;
   font-size: 1em;
}

.modalInformacion{
   background-color: rgb(21, 21, 21);
   color: white;
   font-size: 1.2em;
}