.botonPagado{
   background-color: red;
   border-radius: 7px;
   width: 90px;
   color: black;
   font-weight: bold;
}
.asistenciaAñadida {
   background-color: rgb(0, 216, 0); 
 }
 
.botonInformacion, .botonEditarUsuario, .botonEliminarUsuario{
   background-color: transparent;
   border: white;
   color: rgb(0, 0, 159);
   text-decoration: underline;
   text-align: center;
   justify-content: center;
   align-items: center;
   align-tracks: center;
}

.Tabla{
   margin-left: 12%;
   width: 77%;
   margin-top: 1%;
   font-size: 1em;
}

.modalInformacion{
   background-color: rgb(21, 21, 21);
   color: white;
   font-size: 1.2em;
}