.Columna{
   background-color: #212121;
   box-shadow: 0px 5px 10px var(--bg-color-black);
}
/* ----------------------------------------------------------- */
.Fila1{ 
   display: flex;
}

.ContenedorImg{
   margin-top: 1%;
   width: 6%;
   height: 90%;
   border-radius: 1090%; 
   overflow: hidden;
   margin-left: 10%;
   background-color: var(--bg-color-white);
}

 .ContenedorImg img{ 
   width: 100%; 
   height: 100%;
   object-fit: cover; 
 }

 .ContenedorLetra{
   margin-left: 20%; 
 }

 .ContenedorLetra h1{
    color: var(--animation-bg-fondo);
    margin-top: 9%;
    font-size: 200%;
    text-shadow: -0.3px -0.3px 0.3px var(--bg-color-white), 0.3px 0.3px 0.3px var(--bg-color-white), 
    -0.3px 0.3px 0.3px var(--bg-color-white), 
    0.3px -0.3px 0.3px var(--bg-color-white);
    letter-spacing: 5px;
 }

 /* --------------------------------------------------------- */
.Fila2{
   display: flex;
}

 .Fila2 a{
    text-decoration: none;
    color: var(--animation-bg-fondo);
    margin-left: 15%;
    margin:0.5%;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family:  monospace;
 }
 
 .Fila2 a :hover{
   background-color:var(--animation-bg-fondo);
   color: var(--bg-color-black);
   border-radius: 10px;
   width: 90%;
   margin-left: 5%;
 }

 .Fila2 a.nav-active {
   background-color: var(--animation-bg-fondo);
   color: var(--bg-color-black);
   border-radius: 10px;
   width: 90%;

   margin:0.5%;
   width: 100%;
   text-align: center;
   font-size: larger;
   font-family:  monospace;
}

/* @media screen and (min-width: 360px) and (max-width: 480px){
   .ContenedorImg{
      margin-top: 1%;
      width: 100%;
      height: 1200%;
   }
 .ContenedorImg img{ 
   width: 100%; 
   height: 100%;
   object-fit: cover; 
 }
 .ContenedorLetra{
   margin-left: 10%; 
 }
} */