.Columna{
    background-color: #212121;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
   
   
}
/* ----------------------------------------------------------- */
.Fila1{
    
    display: flex;
}

.ContenedorImg{
    margin-top: 1%;
    width: 6%;
    height: 90%;
    border-radius: 1090%; 
    overflow: hidden;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
}

 .ContenedorImg img{
    
        width: 100%; 
        height: 100%;
        object-fit: cover; 
 }
 .ContenedorLetra{

    margin-left: 20%;
    
 }
 .ContenedorLetra h1{
   
    color: #ffd600;
    margin-top: 9%;
    font-size: 200%;
    text-shadow: -0.3px -0.3px 0.3px #ffffff, 0.3px 0.3px 0.3px #ffffff, -0.3px 0.3px 0.3px #ffffff, 0.3px -0.3px 0.3px #ffffff;
    letter-spacing: 5px;
 }

 /* --------------------------------------------------------- */
.Fila2{
    display: flex;
    
}

 .Fila2 a{
    text-decoration: none;
    color: #FFD600;
    margin:0.5%;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family:  monospace;
 }
 
 .Fila2 a :hover{
    background-color: #FFD600;
    color: black;
    border-radius: 10px;
    width: 85%;
    margin-left: 10%;
 }
