.Container{
    width: 100%;
    position: absolute;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.containerButton{
    width: 30%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40.5%;
    margin-left: 35%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.btRutina{
    position: relative;
    width: 55%;
    height: 12%;
    font-size: 1.1em;
    padding: 2%;
    background-color: rgb(213, 216, 3);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: 4px solid rgb(71, 71, 71);
    transition:transform 0.3s;
    margin-top: 6%;
    margin-left: 22%;
}

.btRutina:hover{
    background-color: rgba(80, 80, 80, 0.856);
    border: 3px solid rgb(17, 17, 17);
    color: rgba(255, 255, 255, 0.831);
    transform: scale(1.07);
}

.Ruticolumna1{
    background-color: rgb(18, 18, 18);
    width: 34%;
    height: 83%;
    padding: 3%;
    border-radius: 10px;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
}

.Ruticolumna2{
    background-color: rgb(18, 18, 18);
    width: 34%;
    height: 83%;
    padding: 3%;
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.labRutina{
    color:white;
    font-size: 1.2em;
    margin-top:3%;
}

h3.tituRutina{
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.inputRutina{
    margin-top: 1%;
    outline: none;
    border: 2px solid rgba(148, 153, 0, 0.868);
    background-color: rgb(47, 47, 47);
    color: white;
    font-size: 1em;
    width: 100%;
    height: 10%;
    padding-left: 3%;
    text-align: left;
    border-radius: 7px;
}

.inputRutinaSelec{
    margin-top: 1%;
    outline: none;
    border: 2px solid rgba(148, 153, 0, 0.868);
    background-color: rgb(47, 47, 47);
    color: white;
    font-size: 1em;
    width: 60%;
    height: 35px;
    padding-left: 3%;
    text-align: center;
    border-radius: 7px;
    margin-top: 2%;
}

.ListaRutinasSelect{
    outline: none;
    border: 2px solid rgba(148, 153, 0, 0.868);
    background-color: rgb(47, 47, 47);
    color: white;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-left: 8%;
    text-align: left;
    border-radius: 7px;
}

.inputRutinaDescrip{
    margin-top: 1%;
    outline: none;
    border: 2px solid rgba(148, 153, 0, 0.868);
    background-color: rgb(47, 47, 47);
    color: white;
    font-size: 1em;
    width: 100%;
    height: 20%;
    padding-left: 3%;
    text-align: left;
    border-radius: 7px;
    resize:none
}

.btEliminarRutina{
    background-color: rgba(243, 61, 0, 0.881);
    width: 32%;
    height: 11%;
    border-radius: 7px;
    border: 2px solid;
    margin-top: 6%;
    margin-left: 10%;
}

.btModificarRutina{
    background-color: rgba(0, 216, 65, 0.881);
    width: 32%;
    height: 11%;
    border-radius: 7px;
    border: 2px solid;
    margin-top: 6%;
    margin-left: 12%;
}


