.containerChats{
    position: relative;
    width: 100%;
  
}

/* .containerClientes{
    width: 20%;
    background-color: aquamarine;
} */

.containerMensajes{
    width:100%;
}

.container {
    width: 150%;
  }
  
  #content-chat{
    width: 600px;
    height: 600px;
    overflow-y: scroll;
  }
  
  #nickname{
    width: 12em;
  }
  
  @media only screen and (max-width: 1000px) {
    .container {
      width: 100%;
    }
  }
  