.contenerdorEditar {
  width:100%;
  height: 75%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(169, 33, 33); */
}

.EditarCajaColumnas{
  background-color: rgb(18, 18, 18);
  width: 68%;
  height: 83%;
  padding: 4%;
  border-radius: 10px;
  margin: 3%;
  position: relative;
  margin-top:4%;
}
.CajaColumnas{
  background-color: rgb(18, 18, 18);
  width: 68%;
  height: 83%;
  padding: 4%;
  border-radius: 10px;
  margin: 3%;
  position: flex;
  margin-top:4%;
}
.columnas12Editar{
  display: flex;
  width:100%;
  height: 100%;
}

.EditarColumna1{ 
  /*background-color: rgb(169, 33, 33);*/
  width: 60%;
  height: 100%;
}

.EditarColumna2{ 
  /*background-color: rgb(255, 143, 143);*/
  width: 40%;
  height: 100%;
  padding-top: 0.6%;
}


.labEditar{
  color:white;
  font-size: 1.2em;
  margin-top: 3%;
}

.inputEditar{
  outline: none;
  border: 2px solid rgba(148, 153, 0, 0.868);
  background-color: rgb(47, 47, 47);
  color: white;
  font-size: 1em;
  width: 85%;
  height: 12%;
  padding-left: 3%;
  text-align: left;
  border-radius: 7px;
  margin-top: 1%;
}
.btEditar{
  position: relative;
  width: 65%;
  height: 14%;
  font-size: 1.1em;
  padding: 2%;
  background-color: rgb(213, 216, 3);
  border-radius: 8px;
  color: rgb(0, 0, 0);
  border: 4px solid rgb(71, 71, 71);
  transition:transform 0.3s;
  margin-top: 15%;
  margin-left: 15%;
}

.btEditar:hover{
  background-color: rgba(80, 80, 80, 0.856);
  border: 3px solid rgb(17, 17, 17);
  color: rgba(255, 255, 255, 0.831);
  transform: scale(1.07);
}


.checkEditar{
  color: white;
  margin-top: 5%;
} 


