body{
    background-color: rgb(230, 230, 230);
}

.fila1{
    display: flex;
    padding: 4.3%;
    margin-left: 20%;
    align-items: center;
    align-content: center;
}
.fila2{
    display: flex;
    padding: 0.1%;
    margin-left: 21%;
}
/* -------------------------------------------------- */
.lista{
    background-color: #434343;
    display: inline-table;
    border-radius: 1%;
    box-shadow: #000000;
    text-align: center;
    width: 100%;
    transition: transform 0.5s;
    border-radius: 8%;
}
.lista:hover{
    transform: scale(1.1);
}

.icono{
    margin-top: -20%;
    width: 50%;
    height: 90%;
    border-radius: 100%; 
    overflow: hidden;
   margin-left: 25%;
    /* background-color: rgb(255, 255, 255); */
   
}
/* .icono:hover{
    background-image: url(../Image/imgMenu/asistenciaGymHover.png);
   
} */
.iconoE{
    margin-top: -20%;
    width: 50%;
    height: 90%;
    border-radius: 100%; 
    overflow: hidden;
   margin-left: 25%;
}
.iconoE img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.iconoR{
    margin-top: -20%;
    width: 50%;
    height: 90%;
    border-radius: 100%; 
    overflow: hidden;
   margin-left: 25%;
}
.iconoR img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.iconoG{
    margin-top: -20%;
    width: 50%;
    height: 90%;
    border-radius: 100%; 
    overflow: hidden;
   margin-left: 25%;
  
    
}
.iconoG img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
   
  
}
.icono img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.letra h3{
    padding: 7%;
    color: white;
}
/* ---------------------------------------------- */
.editar{
    background-color: #19345C;
    display: inline-table;
    border-radius: 1%;
    box-shadow: #000000;
    margin-left: 100%;
    text-align: center;
    width: 92%;
    transition: transform 0.5s;
    border-radius: 8%;
}
.editar:hover{
    transform: scale(1.1);
}
/* ------------------------------------------------------ */
.rutina{
    background-color: #E6862E;
    display: inline-table;
    border-radius: 1%;
    box-shadow: #000000;
    text-align: center;
    width: 102%;
    margin-left: 22%;
    transition: transform 0.5s;
    border-radius: 8%;
}
.rutina:hover{
    transform: scale(1.1);
}
/* ------------------------------------------------------ */
.ganancia{
    background-color: #2BA53E;
    display: inline-table;
    border-radius: 1%;
    box-shadow: #000000;
    margin-left: 120%;
    text-align: center;
    width: 92%;
    transition: transform 0.5s;
    margin-top: -3%;
    border-radius: 8%;
}
.ganancia:hover{
    transform: scale(1.1);
}