body{
    background-color: var(--bg-color-body);
}

div.ContenedorMenu{
    display: flex;
    /* position: relative;  */
    justify-content: space-around; 
    margin-left: -8%;
    width: 100%;
}
/* ---------------------------------------------- */
.agregar{
    background-color: rgb(218, 208, 69);
    /* display: inline-table; */
    box-shadow: var(--bg-color-black);
    text-align: center;
    transition: transform 0.5s;
    flex: 1;
    margin-left: -0.3%;
}


.lista{
     background-color: #434343;
  /* display: inline-table; */
  box-shadow: var(--bg-color-black);
  text-align: center;
  transition: transform 0.5s;
  flex: 1;
  margin-left: 3%;
  
}
.lista:hover, .rutina:hover{
    background-color: #383838;
    transform: scale(1.1);
}
.agregar:hover{
    transform: scale(1.1);
    background-color: rgb(203, 193, 45);
}
.rutina{
    background-color: #E6862E;
    box-shadow: var(--bg-color-black);
    transition: transform 0.5s;
    flex: 1;
    margin-left: -3.5%;
}
.rutina:hover{
    background-color: #cf7a2b;
    transform: scale(1.1);
}
/* ---------------------------------------------- */
.ganancia{
    background-color: #2BA53E;
  /* display: inline-table; */
  box-shadow: var(--bg-color-black);
  text-align: center;
  transition: transform 0.5s;
  margin-left: -7%;
}
.ganancia:hover{
    background-color: #289b39;
    transform: scale(1.1);
}