body{
    background-color: var(--bg-color-body);
}

div.Contenedor{
    margin-top: 5%;
    margin-left: 2.5%;
    width: 100%;
    height: 70%;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    display: flex;
}


/* .fila1Menu{
    display: flex;
    width: 56%;
    height: 50%;
    margin: 0 auto;
    margin-left:24.5%;
}
.fila2Menu{
    display: flex;
    width: 56%;
    height: 50%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
} */
/* -------------------------------------------------- */
.icono{
    margin-top: -20%;
    width: 48%;
    height: 65%;
    border-radius: 100%; 
    overflow: hidden;
    border: var(--bg-color-black) 5px solid ;
    margin-left: 25%;
    background-color: var(--bg-color-white);
}
.icono img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.letra h3{
    padding: 7%;
    color: var(--bg-color-white);
    font-size: 180%;
    text-align: center;
}

/* ---------------------------------------------- */
.lista{
    background-color: #434343;
    display: inline-table;
    box-shadow: var(--bg-color-black);
    text-align: center;
    position: fixed;
    width: 20%;
    height: 28%;
    transition: transform 0.5s;
    border-radius: 8%;
    flex: 1;
    margin-left: -35%;
    margin-top: -10%;
}
.lista:hover, .rutina:hover{
    background-color: #383838;
    transform: scale(1.1);
}
.rutina{
    background-color: #E6862E;
    /* display: inline-table; */
    box-shadow: var(--bg-color-black);
    position: fixed;
    width: 20%;
    height: 29%;
    transition: transform 0.5s;
    border-radius: 8%;
    flex: 1; 
    margin-left: -13%;
    margin-top:-10%;
}
.rutina:hover{
    background-color: #cf7a2b;
    transform: scale(1.1);
}
/* ---------------------------------------------- */
/* .editar{
    background-color: #19345C;
    display: inline-table;
    border-radius: 1%;
    box-shadow: var(--bg-color-black);
    text-align: center;
    position: fixed;
    width: 20%;
    height: 28.5%;
    transition: transform 0.5s;
    border-radius: 8%;
    margin-left: 31%;
}
.editar:hover{
    background-color: #152c4f;
    transform: scale(1.1);
} */
.ganancia{
    background-color: #2BA53E;
    display: inline-table;
    box-shadow: var(--bg-color-black);
    text-align: center;
    position: fixed;
    width: 20%;
    height: 29%;
    transition: transform 0.5s;
    border-radius: 8%;
    margin-left: 9%;
    margin-top:-10%;
}
.ganancia:hover{
    background-color: #289b39;
    transform: scale(1.1);
}