/***************************************************************/
/* Estilo para la barra de navegación */
nav.RecuNavbarSesion {
    background-color: var(--animation-bg-fondo);
    width: 100%;
    display: flex;
    position: relative; 
    height: 110px;
    z-index: 100;
    top: 0;
    text-align: center;
    justify-content: center; 
    align-items: center;
}

.RecutituloSesion {
    color: var(--bg-color-black);
    margin-left: -15%;
    text-align: center;
    font-size: 320%;
    font-weight: 700;
    margin: 0;
  }  

.tituloRecuperar {
    background-color: var(--main-bg-negro);
    color: var(--bg-color-white);
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    margin: 0;
    margin-top: 2%;
    letter-spacing:0;
    font-family:Inter;
}

/******************************************************************/
main.RecumainSesion{
    background-color: var(--main-bg-negro);
    width: 100%;
    height: 85%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

div.container{
    background-color: var(--bg-color-white);
    width: 60%;
    height: 80%;
    border-radius: 13px;
    display: flex;
}

div.columna1{
    width: 55%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.columna1 > .imgGrande{
    width: 85%;
    margin-top: 7%;
}

div.columna1 > .tituloColum1{
    font-weight: 600;
}

div.columna2{
    width: 45%;
    padding: 5%;
}

div.columna2 .indicacionRecuperar{
    font-size: 120%;
    font-weight: 600;
    margin-top: 5%;
}

.inputsRecuperar{
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 9.5%;
    margin-top: 2%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 3%;
}

.bt-Recuperar{
    margin-top: 7%;
    font-size: 100%;
    width: 60%;
    height: 10%;
    text-align: center;
    margin-left: 20%;
}

.bt{
    margin-top: 7%;
    font-size: 100%;
    width: 60%;
    height: 10%;
    text-align: center;
    margin-left: 20%;
}

@media(hover:hover){
    Button.bt-Recuperar:hover{
        background-color: var(--main-bg-negro);
        color: var(--bg-color-white);
    }
}



/****** MEDIAS QUERYS PARA EL RESPONSIVO DE LOS DIFRERENTES DIFSPOSITIVOS ******/

@media screen and (min-width: 360px) and (min-height:640px) and (max-width: 480px){
    .RecutituloSesion {
        font-size: 160%;
    }  

    main.RecumainSesion{
        width: 100%;
        height: 82.8%;
    }

    .tituloRecuperar {
        font-size: 180%;
    }
    
    div.container{
        margin-top: 1%;
        width: 86%;
        height: 82%;
    }

    div.columna1{
        width: 100%;
    }
    
    div.columna1 > .imgGrande{
        width: 100%;
        height:80%;
        margin-top: 7%;
    }    

    div.columna2{
        background-color: rgba(255, 255, 255, 0.568);
        width: 80%;
        height: 80%;
        position: absolute;
    }

    div.columna2 .indicacionRecuperar{
        font-size: 120%;
        font-weight: 700;
        margin-top: 5%;
    }

    .inputsRecuperar{
        border: rgb(86, 86, 86) 2px solid;
    }

    .bt-Recuperar{
        margin-top: 8%;
        width: 80%;
        height: 10%;
        margin-left: 10%;
    }
}