:root{
  --main-bg-negro: #111111;   /* ESTE ES EL COLOR NEGRO DE INICIO Y RECUPERAR CONTRASEÑA, MAIN*/
  --animation-bg-fondo:#ffe600ee; /*ESTE COLOR ES EL AMARRILLO DEL NAVABAR INICIO Y RECUPERAR*/
  --bg-color-white: #ffffff; /*EL COLOR BLANCO ES GLOBAL SE UTILIZA MUCHO*/
  --bg-color-black: #000000; /*EL COLOR NEGRO ES GLOBAL SE UTILIZA MUCHO*/
  --bg-color-green: #008000; /*EL COLOR NEGRO ES UNICO POCO UTILIZABLE*/
  --bg-color-red:#ff0000;    /*EL COLOR NEGRO ES UNICO POCO UTILIZABLE*/
  --bg-color-body: #e6e6e6;  /*EL COLOR NEGRO ES UNICO POCO UTILIZABLE*/ 
}
